python-dotenv
Django
djangorestframework
django-cors-headers
Authlib
requests
mmh3
drf-yasg
jsonschema
emoji
python-magic
python-magic-bin; sys_platform == 'win32'
pylibmagic; sys_platform == 'darwin'
pillow