python-dotenv
Django
djangorestframework
django-cors-headers
Authlib
requests
mmh3
drf-yasg
jsonschema
emoji
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
pylibmagic; sys_platform == 'darwin'
pillow
termcolor